.locationInfo{
  color: #bbbbbb;
}
.location{
  font-size: 36px;
  font-weight: bold;
}
.icons{
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: right;
  margin-bottom: 15px;
}
.icons li{
  display: inline-block;
}
.icons .icon-ret{
  float: left;
}
.icons i{
  color: #bbbbbb
}
.info{
  padding: 25px 0px;
}
.fa-heart-red{
  color: red !important;
}